div {
  background-color: yellow;
  width: 600px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  width: 600px;
  height: 200px;
  border: 1px solid black;
}

nav li {
  list-style-type:  none;
  justify-content: flex-end;
}